# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Staging data (written by Airflow DAGs)
data/
*.jsonl
*.parquet

# Airflow
logs/
airflow.db
airflow.cfg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
